
   .fresh h1{
    margin-top: 5px;
    padding-top: 5px;
    width: 100%;
   }
   .bake{
   width: 33%;
   float: left;
  


  }
  .com{
    border: 2px solid rgb(182, 181, 181);
    border-radius: 25px;
    padding: 5px;
  }
  .proudct{
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
   
}
.proudct1{
  font-size: 40px;
  padding: 15px;
}
.btn{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
   

}
.perant{
    width: 100%;
    height: 100%;
    background-size: cover; 
    overflow: hidden;

}
.nav{
    
   margin: auto;


}

.home{
    width: 100%;
    background-color: rgb(0, 0, 0 ,.1);

}

ul {

    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
  }
  
  li {
      float: left;
padding: 10px;
  }
.fruit{
  width: 100%;
}
.filter{
  width: 15%;
  height: 30px;
  padding: 5px;
  margin: 10px;
  float: left;
  border: 1px solid rgb(0, 0, 0, .1);
  border-radius: 10px;
  background-color: rgb(0, 0, 0, .1);
}
.clear{
  clear: both;
}
.cat{
  width: 40%;
  float: left;
}
.tittle{
  width: 100%;
  border: 1px solid  rgb(0, 0, 0, .1);
  border-radius: 10px;
height: 200px;
margin: 5px;
padding: 5px;;
}
img{
  width: 100%;
}
.pic{
  width: 33%;
  float: left;
}